body {
    background: #f4f6f9;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-weight: 600;
    color: #333;
}

.center-card {
    margin: 0 auto;
    margin-top: 60px;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 420px;
}

.form-control {
    border-radius: 8px !important;
    padding: 10px 14px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,112,255,0.25);
    border-color: #007bff;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
}

.navbar {
    padding: 12px 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px;
}

.nav-link {
    font-size: 16px;
    margin-left: 8px;
}


.nav-link:hover {
    color: #d4d4d4 !important;
}


.home-box {
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}
